body
{
    background-color: #F2F2F2;
    margin: 0px;
    padding: 0px;
    font-family: Calibri;
    font-size: 12pt; /*background-image: -moz-linear-gradient(top, #ffffff, #000000);     background-image: -ms-linear-gradient(top, #ffffff, #000000);*/ /*background-image: -o-linear-gradient(top, #ffffff, #000000);*/ /*background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#000000));*/
    background-image: -webkit-linear-gradient(top, #F2F2F2, #F2F2F2); /*background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);*/
}

.IconColor
{
    color: #389BEF;
    font-weight: bold;
}
.IconColor:hover
{
    color: #1178CC;
    font-weight: bold;
}
.IconColorLight
{
    color: #FFFFFF;
    font-weight: bold;
}
.IconColorLight:hover
{
    color: #EEEEEE;
    font-weight: bold;
}
.ImageButton1
{
    color: White;
    background-position: center center;
    background-color: #389BEF;
    width: 121px;
    border: 1px solid #389BEF;
    margin: 0px;
    background-repeat: no-repeat;
    border-bottom-color: #0E66AD;
    border-bottom-color: #83C1F5;
    border-bottom-style: dotted;
    cursor: hand;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #389AEF),color-stop(1, #138BEC));
    background-image: -o-linear-gradient(bottom, #389AEF 0%, #138BEC 100%);
    background-image: -moz-linear-gradient(bottom, #389AEF 0%, #138BEC 100%);
    background-image: -webkit-linear-gradient(bottom, #389AEF 0%, #138BEC 100%);
    background-image: -ms-linear-gradient(bottom, #389AEF 0%, #138BEC 100%);
    background-image: linear-gradient(to bottom, #389AEF 0%, #138BEC 100%);
    background-image: -webkit-linear-gradient(top, #389BEF, #138AEC);
}
.ImageButton1:hover
{
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #006BB2),color-stop(1, #0099FF));
    background-image: -o-linear-gradient(bottom, #006BB2 0%, #0099FF 100%);
    background-image: -moz-linear-gradient(bottom, #006BB2 0%, #0099FF 100%);
    background-image: -webkit-linear-gradient(bottom, #006BB2 0%, #0099FF 100%);
    background-image: -ms-linear-gradient(bottom, #006BB2 0%, #0099FF 100%);
    background-image: linear-gradient(to bottom, #006BB2 0%, #0099FF 100%);
    cursor: pointer;
}

.ImageButton1Alt
{
    color: White;
    background-position: center center;
    background-color: #389BEF;
    width: 121px;
    border: 1px solid #389BEF;
    margin: 0px;
    background-repeat: no-repeat;
    border-bottom-color: #0E66AD;
    border-bottom-color: #83C1F5;
    border-bottom-style: dotted;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0D5FA2),color-stop(1, #0D5FA2));
    background-image: -o-linear-gradient(bottom, #0D5FA2 0%, #0D5FA2 100%);
    background-image: -moz-linear-gradient(bottom, #0D5FA2 0%, #0D5FA2 100%);
    background-image: -webkit-linear-gradient(bottom, #0D5FA2 0%, #0D5FA2 100%);
    background-image: -ms-linear-gradient(bottom, #0D5FA2 0%, #0D5FA2 100%);
    background-image: linear-gradient(to bottom, #0D5FA2 0%, #0D5FA2 100%);
    cursor: pointer;
}
.DefaultButton
{
    background-position: center center;
    background-color: #666666;
    width: 50px;
    border-radius: 5px;
    margin: 0px;
    background-repeat: no-repeat;
    cursor: hand;
}

.DefaultButton .fa .fa-arrow-circle-right .fa-3x a:hover
{
    text-decoration: none;
}

.HeaderMenuList
{
    /*width:280px;*/
    height: 20px;
    border: 0px dotted #C0C0C0;
    border-bottom: 1px dotted #C5C5C5;
    margin: 0px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 8px;
    display: block;
    width: 93%;
    height: 35px;
    text-align: left;
    vertical-align: middle;
    color: #3E3E3E;
    font-weight: bold;
    font-family: calibri;
    text-decoration: none;
    font-size: 14px;
    text-shadow: 0px 1.5px 5px #C0C0C0;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F0F0F0),color-stop(1, #FFFFFF));
    background-image: -o-linear-gradient(bottom, #F0F0F0 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #F0F0F0 0%, #FFFFFF 100%);
    background-image: linear-gradient(to bottom, #F0F0F0 0%, #FFFFFF 100%);
}
.HeaderMenuList:hover
{
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F5F5F5),color-stop(1, #C0C0C0));
    background-image: -o-linear-gradient(bottom, #F5F5F5 0%, #C0C0C0 100%);
    background-image: -moz-linear-gradient(bottom, #F5F5F5 0%, #C0C0C0 100%);
    background-image: -webkit-linear-gradient(bottom, #F5F5F5 0%, #C0C0C0 100%);
    background-image: -ms-linear-gradient(bottom, #F5F5F5 0%, #C0C0C0 100%);
    background-image: linear-gradient(to bottom, #F5F5F5 0%, #C0C0C0 100%);
}

.DefaultButton:hover
{
    background-color: #333333;
}
.Errorlabel
{
    font-family: calibri;
    font-size: 12px;
    font-weight: bold;
}

.LoginButton2
{
    background-position: center center;
    background-color: #C6C6C6;
    height: 40px;
    width: 40px;
    border: 1px solid #C6C6C6;
    border-radius: 12px;
    margin: 0px;
    background-image: -webkit-linear-gradient(top, #E3E3E1, #C6C6C6);
    background-repeat: no-repeat;
    cursor: hand;
    text-align: center;
}
.LoginButton2:hover
{
    background-image: -webkit-linear-gradient(top, #89C5F5, #C0E0FA);
    background-color: #89C5F5;
}
.PageHeader
{
    height: 60px;
    background-color: #389BEF;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 24pt; /*background-image: url(../Images/NCATLogo1.png);*/
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #127BDA),color-stop(1, #389AEF));
    background-image: -o-linear-gradient(bottom, #127BDA 0%, #389AEF 100%);
    background-image: -moz-linear-gradient(bottom, #127BDA 0%, #389AEF 100%);
    background-image: -webkit-linear-gradient(bottom, #127BDA 0%, #389AEF 100%);
    background-image: -ms-linear-gradient(bottom, #127BDA 0%, #389AEF 100%);
    background-image: linear-gradient(to bottom, #127BDA 0%, #389AEF 100%);
    background-image: -webkit-linear-gradient(top, #127BDA, #389AEF);
    padding-left: 0px;
}
.PageSubHeader
{
    height: 27px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    border: 1px solid Gray;
    border-radius: 10px 10px 0px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #FFFFFF;
    position: relative;
    z-index: 100;
    background: #666666; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MTQxNDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #666666 0%, #414141 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#414141)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #666666 0%,#414141 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #666666 0%,#414141 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #666666 0%,#414141 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #666666 0%,#414141 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#414141',GradientType=0 ); /* IE6-8 */
}

.SectionGroup
{
    /*margin-right: 50px;     margin-top: 100px;     float: right;*/
    margin: -18px 40px 20px 40px;
    border: 2px solid #C6C6C6;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 30px 0px #C6C6C6;
    padding: 0px;
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-right: 7px;
    box-shadow: 12px 12px 6px #808080;
}
.LoginSectionGroup
{
    margin-right: 50px;
    margin-top: 100px;
    float: right;
    border: 2px solid #C6C6C6;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #C6C6C6;
}
.SectionHeader
{
    background-color: Gray;
    background-color: #F3F3F3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Calibri;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px;
}
.SectionContent
{
    background-color: Gray;
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Calibri;
    font-size: 20px;
    color: #3C404B;
}
.DivSlideContent
{
    display: none;
    left: 0px; /*position: absolute;*/
}



.TableSettings
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #ffffff;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.TableSettings table
{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.TableSettings tr:last-child td:last-child
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.TableSettings table tr:first-child td:first-child
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.TableSettings table tr:first-child td:last-child
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.TableSettings tr:last-child td:first-child
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.TableSettings tr:hover td
{
}
.TableSettings tr:nth-child(odd)
{
    background-color: #ffffff;
}
.TableSettings tr:nth-child(even)
{
    background-color: #f4f4f4;
}
.TableSettings td
{
    vertical-align: middle;
    border: 1px solid #ffffff;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 10px;
    font-family: Calibri;
    font-weight: normal;
    color: #000000;
}
.TableSettings tr:last-child td
{
    border-width: 0px 1px 0px 0px;
}
.TableSettings tr td:last-child
{
    border-width: 0px 0px 1px 0px;
}
.TableSettings tr:last-child td:last-child
{
    border-width: 0px 0px 0px 0px;
}
.TableSettings tr:first-child td
{
    background: -o-linear-gradient(bottom, #000000 5%, #000000 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000) );
    background: -moz-linear-gradient( center top, #000000 5%, #000000 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000");
    background: -o-linear-gradient(top,#000000,000000);
    background-color: #000000;
    border: 0px solid #ffffff;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Calibri;
    font-weight: bold;
    color: #ffffff;
}
.TableSettings tr:first-child:hover td
{
    background: -o-linear-gradient(bottom, #000000 5%, #000000 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #000000) );
    background: -moz-linear-gradient( center top, #000000 5%, #000000 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000");
    background: -o-linear-gradient(top,#000000,000000);
    background-color: #000000;
}
.TableSettings tr:first-child td:first-child
{
    border-width: 0px 0px 1px 0px;
}
.TableSettings tr:first-child td:last-child
{
    border-width: 0px 0px 1px 1px;
}
