<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ProjectInfo" value="Server=localhost;Database=VacationTracker;Uid=root;Pwd=root;Pooling=false;charset=utf8;" />

    <add key="SmtpServer" value="skyboxmsg.cerner.net" />
    <add key="FromAddress" value="krishna.kishore@cerner.com" />
    <add key="VacationTracker_link" value="http://10.171.210.87/VacationTracker/"/>
    <add key="UserName" value="KK047583@cerner.net" />
    <add key="Password" value="Cerner@123" />

    <add key="SubjectToManager" value="No replay Vacation Tracker - Leave request by {0}" />
    <add key="BodyToManager" value="Greetings from Vacation Tracker!! &#xA; Your reportee {0} wants to apply the leave from {1} to {2}. &#xA;&#xA;Title -{3} &#xA; Description-{4} To Open Vacatoin Tracker click here {5} &#xA;" />

    <add key="CancelSubjectToManager" value="No replay Vacation Tracker - Leave request Canceled by {0}" />
    <add key="CancelBodyToManager" value="Greetings from Vacation Tracker!!&#xA;Your reportee {0} has cancelled  leave from {1} to {2}.&#xA;&#xA;Title -{3}&#xA;Description-{4} To Open Vacatoin Tracker click here {5}" />


    <add key="SubjectToAssociate" value="No replay Vacation Tracker -" />
    <add key="BodyToAssociate" value="Greetings from Vacation Tracker!!&#xA;Your vaction {0} is got {1}. To Open Vacatoin Tracker click {2}" />

    <add key="holidaySubject" value="No reply Vacation Tracker - Holdiday List"/>
    <add key ="holdayBody" value ="Greetings from Vacation Tracker!!&#xA;Updated Holiday List.&#xA;&#xA;To open Vacation Tracker click here {0}&#xA;&#xA;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" ></error>
      <error statusCode="404" redirect="FileNotFound.htm" ></error>
    </customErrors>
    
    <sessionState timeout="120"></sessionState>
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>